/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: indigo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 3, 99);
}